<div class="banner" style="background-image: url('<%= image_path 'https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1125&q=80' %>')";>
  <div class="banner-content">
    <h1>Mr Cocktail</h1>
  </div>

   <div class="new_cocktail">
    <%= link_to "Let's make more cocktails!", new_cocktail_path, class: "card-link" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <%@cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-color: #FBCBB1">
          <%= cl_image_tag("Cocktail1",
            width: 400, height: 300, crop: :fill) %>
           <div class="card-description">
             <h4><%= link_to cocktail.name, cocktail_path(cocktail.id)%></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
